<div class="header">
  <img src="assets/logo.png" alt="InterSystemsTerminal+" class="logo" />
  <app-darkmode-switch class="darkmodeSwitch"></app-darkmode-switch>
  <img
    [src]="
      'assets/' +
      (getAppearenceService().isVerticalAlignment ? 'vertical' : 'horizontal') +
      '_align.png'
    "
    [alt]="
      'align ' +
      (getAppearenceService().isVerticalAlignment ? 'vertical' : 'horizontal')
    "
    class="align"
    (click)="getAppearenceService().toggleAlignment()"
  />
</div>
