/* You can add global styles to this file, and also import other style files */
body
  margin: 0
  padding: 0
  background: var(--bg-color)
  transition: 0.3s

.sticky
  position: fixed
  top: 0
  width: 100%
  z-index: 1000

.mainContainerLeft
  margin-top: 150px
  margin-left: 50px

.mainContainerMiddle
  margin-top: 150px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.containerCol
  display: flex
  flex-direction: column
  box-sizing: border-box
  -moz-box-sizing: border-box
  *
    margin-bottom: 15px

.containerRow
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: space-between
  box-sizing: border-box
  -moz-box-sizing: border-box
  *
    margin-right: 15px

.btn
  cursor: pointer
  border: none
  outline: none
  border-radius: 5px
  padding: 10px 20px
  font-weight: bold
  transition: 0.2s
  background: var(--primary-color)
  color: var(--inverted-text-color)
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px

  &:hover
    transform: scale(1.05)

[data-theme="light"]
  --text-color: black
  --inverted-text-color: white
  --bg-color: #ffffff
  --header-color: #f5f5f5
  --primary-color: #2e3399
  --secondary-color: #00b6b0

[data-theme="dark"]
  --text-color: white
  --inverted-text-color: black
  --bg-color: #1a1a2b
  --header-color: #11111d
  --primary-color: #00b6b0
  --secondary-color: #2e3399
